<a href="https://colab.research.google.com/github/MuskanSingh400/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [3]:
print(1+2)

3

In [6]:
x="symbi"
print(x)

symbi

In [13]:
my_variable=10
#x="hello"
#age_1=25
#this_is_a_long_variable_name=True

In [9]:
1_age=30
my-variable="error"

SyntaxError: invalid decimal literal (ipython-input-9-852959716.py, line 1)

In [14]:
width=10
height=4
area=width*height
print(area)

40

In [16]:
x,y,z="economics","management","computer science" #topic: assign multiple value
print(x,z)
print(y)
print(z)

economics computer science
management
computer science

In [17]:
fruits="mango","apple","grapes" #topic:unpack a collection
x,y,z=fruits
print(z,y,z)

grapes apple grapes

In [20]:
x=10                                # f string topic
y="hello"
print(f"The value of x is :{x}")
print(f"The value of y is:{y}")

The value of x is :10
The value of y is:hello

In [21]:
p=4
q=6
result=p*q
print("the result of multiplication",result)

the result of multiplication 24

In [22]:
my_variable=10
x="hello"
age_1=25
a=True
print(a)

True

In [29]:
#numric types:
x=5 #int
y=3.14 #float
z=2+3  #complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'int'>

In [28]:
# sequence types
s="hello"  #strg
l=[1,2,3]  #list
t=(4,5,6)  #tuple
print(type(s))
print(type(l))
print(type(t))

<class 'str'>
<class 'list'>
<class 'tuple'>

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-27-3635859471.py, line 2)

In [34]:
# converting data type
# 1. **int():** Convert a value to an integer data type.
x=3.14
y=int(x)
print(y)

x = int(3.14)  # x will be 3

# 2. **float():** Convert a value to a floating-point data type.

a=5 # int
y = float(a)  #int is converted to float
print(y)

# 3. **str():** Convert a value to a string data type.
y = 123 #int

z = str(y)  # z will be "123"
print(y)

# 4. **bool():** Convert a value to a boolean data type.

a = bool(0)  # a will be False
print(a)

# 5. **list():** Convert a sequence (e.g., tuple, string) to a list.

tuple1 = (1, 2, 3)
list1 = list(tuple1)  # list1 will be [1, 2, 3]
print(list1)

3
5.0
123
False
[1, 2, 3]

In [36]:
#if and else condition
x=4
if x >5:
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [39]:
x=1
if x>10:
 print("x is greater than 10")
elif x == 10:
  print("x is equal to 10")
else:
  print("x is less than 10")

x is less than 10

In [41]:
x=5
if x<5:
 print("x is less than 5")
elif x==5:
  print("x is equal to 5")
else:
  print("x is greater than 5")

x is equal to 5

In [43]:
# Define two variables
a = 10
b = 20

Equals: a == b
if a == b:
    print("a is equal to b")
else:
    print("a is not equal to b")

# # Not Equals: a != b
if a != b:
    print("a is not equal to b")
else:
    print("a is equal to b")

# Less than: a < b. a=10 and b= 20
if a < b:
    print("a is less than b")
else:
    print("a is not less than b")

# Less than or equal to: a <= b
if a <= b:
    print("a is less than or equal to b")
else:
    print("a is greater than b")

# # Greater than: a > b
if a > b:
    print("a is greater than b")
else:
    print("a is not greater than b")

# # Greater than or equal to: a >= b
if a >= b:
    print("a is greater than or equal to b")
else:
    print("a is less than b")

a is not equal to b
a is not equal to b
a is less than b
a is less than or equal to b
a is not greater than b
a is less than b

In [47]:
# while loop
x=0
while x < 5:
  print("count is:",x)
  x=x+1

count is: 0
count is: 1
count is: 2
count is: 3
count is: 4

In [55]:
# for loop
numbers = [1,2,3,4,5,6]
print(numbers)
# print("break")
for x in numbers:
  print(x)

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6

In [56]:

for x in range(1,10,2):             #start,end,difference
  print(x)

1
3
5
7
9

In [57]:
 for x in "banana":   #for printing in the same line
  print(x,end='')

banana

In [58]:
for x in "banana":  #for printing in different new line
  print(x)

b
a
n
a
n
a